<!DOCTYPE html>
<html>
<head>
    <title>Crate items</title>
    <link rel="stylesheet" href="/static/style3.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
           <ul>
                 <li>
                    <a href="{{url_for('index')}}">Home</a>
                </li>
                <li>
                    <a href="{{url_for('vehicle')}}">Vehicle</a>
                </li>
            </ul>
        </div>
        <div class="Item-Form">
            <h1>Item form</h1>
            <form action='' method="POST">
                <!-- <p>Length:</p>
                <input type="integer" name="length" placeholder="length">
                <p>Width:</p>
                <input type="integer" name="width" placeholder="width">
                <p>Height</p>
                <input type="integer" name="height" placeholder="height"> -->
                
                <p>CBM:</p>
                <input type="integer" name="cbm">

                <p>Price Per CBM:</p>
                <input type="integer" name="price_per_weight">


                <p>Profit:</p>
                <input type="integer" name="profit" placeholder="profit">
                
                
                <p></p>
                <button type="submit" value="Submit">Confirm</button>
            </form>
        </div>
    </div>
</body>

</html>