<!DOCTYPE html>
<html>
<head>
    <title>Create Cargo List</title>
    <link rel="stylesheet" href="/static/style4.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
           <ul>
                 <li>
                    <a href="{{url_for('index')}}">Home</a>
                </li>
                
                <li>
                    <a href="{{url_for('showData')}}">Database Cargo</a>
                </li>
                <li>
                    <a href="{{url_for('vehicle')}}">Change Vehicle</a>
                </li>


            </ul>
        </div>
        <div class="Item-Form">
            <h1>Item form</h1>
            <form action='' method="POST" onsubmit=displayAlert()>
                
                <p>Cubic Meter (CBM):</p>
                <input required type="number" name="cbm" placeholder="Enter CBM value"min="0" max="999999" ondrop="return false;" onpaste="return false;" >

                <!-- <p>Price Per CBM:</p>
                <input required type="number" name="price_per_weight" placeholder="Enter Value"min="0" max="999999" ondrop="return false;" onpaste="return false;"> -->


                <p>Profit:</p>
                <input required type="number" name="profit" placeholder="Expected Profit" min="0" max="999999" ondrop="return false;" onpaste="return false;" >
                
                
                <p></p>
                <button type="submit" value="Submit">Confirm</button>
            </form>
        </div>
    </div>
</body>
<script>
  

    function displayAlert(){
      alert("Cargo Successfully Added....")     
    }
  
</script>

</html>