<!DOCTYPE html>
<html>
<head>
    <title>UPDATE CargoList</title>
    <link rel="stylesheet" href="/static/style4.css">
    <style>
        body{
            color: white;
            text-align: center;
        }
    </style>

    
</head>
<body>
    <div class="banner">
        <div class="navbar">
           <ul>
                 <li>
                    <a href="{{url_for('index')}}">Home</a>
                </li>
                <li>
                    <a href="{{url_for('vehicle')}}">Vehicle</a>
                </li>
            </ul>
        </div>
        <h1> UPDATE FUNCTION</h1>
        <div class="Item-Form">
            <h1>Item form</h1>
            <form action='' method="POST" onsubmit=displayAlert()>
                <!-- <p>Length:</p>
                <input type="integer" name="length" placeholder="length">
                <p>Width:</p>
                <input type="integer" name="width" placeholder="width">
                <p>Height</p>
                <input type="integer" name="height" placeholder="height"> -->
                
                <p>CBM: </p>
                <input type="number" name="cbm" placeholder="{{cargos.cbm}}"  min="0" max="999999" ondrop="return false;" onpaste="return false;">

                <p>Price Per CBM:</p>
                <input type="number" name="price_per_weight" placeholder="{{cargos.price_per_weight}}"min="0" max="999999" ondrop="return false;" onpaste="return false;">


                <p>Profit:</p>
                <input type="number" name="profit" placeholder="{{cargos.profit}}" min="0" max="999999" ondrop="return false;" onpaste="return false;">
                
                
                <p></p>
                <button type="submit" value="Submit">Confirm</button>
            </form>
        </div>
    </div>
</body>
<script>
  

  function displayAlert(){
    alert("UPDATE SUCCESS")     
  }

</script>

</html>