<html>

<head>
    <title>DEV! DEV!! DEV!!!</title>
    <link rel="stylesheet" href="/static/style4.css">
    <style>
        body {
            color: white;
            text-align: center;
        }

        p {
            font-size: large;
            padding-top: 1%;
        }

        .result {
            font-weight: bold;
            font-size: larger;
            color: cornsilk;
        }
    </style>

</head>

<body>
    <div class="banner">

        <center>
            <h1 style="padding-top: 15%; padding-bottom: 2%;">DEVELOPER MODE</h1>


            <br><br>
            <p>Hello World! This is the developer mode. :)</p>
            <p>To Add multiple raw data (pre-coded) </p>
            <p class="result"> ‣‣ &nbsp; '/addDataSet' </p>

            <p>To truncate the whole database ;) </p>
            <p class="result"> ‣‣ &nbsp; '/deleteDataSet'</p>
        </center>
        <div class="text-block"> </div>
    </div>

</body>

</html>