<html>
<head>
    <title>Cargo Loading</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li>
                    <a href="{{url_for('index')}}">Home</a>
                </li>
                <li>
                    <a href="{{url_for('vehicle')}}">Vehicle</a>
                </li>
                <li>
                    <a href="{{url_for('cargo')}}">Cargo</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <h1>Cargo Loading Optimization</h1>
            <p>We find ways.</p>
        </div>
    </div>

</body>

</html>


