<html>
<head>
    <title>Cargo Loading</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .topright{
            float: right;     
        }


    </style>

</head>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li>
                    <a href="{{url_for('index')}}">Home</a>
                </li>
                <li>
                    <a href="{{url_for('vehicle')}}">Vehicle</a>
                </li>                
                <li>
                    <a href="{{url_for('showData')}}">Database Cargo</a>
                </li>
                               
            </ul>
            <div class="topright">
                <ul>    
                    <li >
                        <a href="{{url_for('logoutUser')}}">LOGOUT</a>
                    </li>
                </ul>
            </div> 
        </div>
        <div class="content">
            <h1>Cargo Loading Optimization</h1>
            <p>We find ways to give you the highest possible profit for your Transport Services.</p>
        </div>
    </div>

</body>

</html>


