<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Output</title>
        <link rel="stylesheet" href="/static/style4.css">
    </head>
    <body>
        <div class="banner">
            <div class="content">
                <p>length = {{l}}</p>
                <p>Height = {{h}}</p>
                <p>Weight = {{w}}</p>
                <p>Cbm = {{v}}</p>
                <a href="{{url_for('index')}}">
                    <button>Again</button>
                </a>
                <button type="submit">Remove</button>
                <button type="submit">Optimize</button>
            </div>
        </div>
        <p> TABLE FOR CARGO LOADING</p>
        <table> 
            <tr>
                <th>NUMBER</th>
            </tr>
            <tr>
                {% for item in values %}
                <td> 'CARGO': {{item.name}} </td>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>