<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Output</title>
        <link rel="stylesheet" href="/static/style4.css">
    </head>
    <body>
        <div class="banner">
            <div class="content">
                <p>length = {{l}}</p>
                <p>Height = {{h}}</p>
                <p>Weight = {{w}}</p>
                <p>Cbm = {{v}}</p>
                <p>Profit = {{p}}</p>
                <p>Price = {{pri}}</p>
                
                <a href="{{url_for('cargo')}}">
                    <button>Again</button>
                </a>
                <a href="{{url_for('buffer')}}">
                    <button>Optimize</button>
                </a>

            </div>
        </div>
        <table class> 
            <tr>
                <th>NUMBER</th>
            </tr>
            <tr>
                {% for item in values %}
                <td>'Id': {{item.id}} 
                    'Cbm': {{item.name}}
                    'Profit': {{item.profits}}
                    'Price Per Weight': {{item.pper}}
                    <a href="{{ url_for('delete', id = item.id)}}">Delete </a>
                </td>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>