<!DOCTYPE html>
<html>
<head>
    <title>Login User</title>
    <link rel="stylesheet" href="/static/style4.css">
    <style>
        body{
            color: white;
            text-align: center;
        }
        h1{
            padding-top: 12%;
        }
    </style>

    
</head>
<body>
    <div class="banner">
        
        
        <div class="Container-Class">
            <h1> LOGIN PAGE</h1>
            <div class="Item-Form">
                <form action='' method="POST" onsubmit=displayAlert()>
                    
                    <p>Email: </p>
                    <input type="text" name="emailUser" placeholder="Enter Email">
    
                    <p>Password:</p>
                    <input type="password" name="passwordUser" placeholder="Enter Password">
    
                    <p></p>
                    <button type="submit" value="Submit">Confirm</button>
                </form>
            </div>
        </div>          
    </div>
</body>
<script>
  

  function displayAlert(){
    alert("Validating Please Wait....")     
  }

</script>

</html>