<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Output</title>
        <link rel="stylesheet" href="/static/style4.css">
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
              <ul>
                <li>
                  <a href="{{url_for('index')}}">Home</a>
              </li>
              <li>
                  <a href="{{url_for('cargo')}}">Cargo</a>
              </li>
              </ul>
          </div>
          <h1>You Successfully Selected Your Vehicle Please Proceed to the Cargo Page</h1>
    </body>
</html>